@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-end-rgb: 107, 138, 122;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-end-rgb: 37, 67, 54;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-end-rgb)); 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
